.card{
    /* width: 49%; */
    height: 98%;
    background: #D9D9D9;
    border-radius: 1vw;
}

.top-card{
    width: 100%;
    height: 10%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1.8vw;
}

.gbtn{
    width: 1.5vw;
    height: 1.5vw;
    background: #7DB68E;
    border-radius: 50%;
}

.ybtn{
    width: 1.5vw;
    height: 1.5vw;
    background: #E5D68E;
    border-radius: 50%;

}

.ls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.arr-btn{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    rotate: 40deg;
}

.mid-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68%;
    /* background: red; */
}

.btm-card{
    /* background: red; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.btn>button{
    padding: .7vw 1.3vw;
    border-radius: 1vw;
    border: none;
    background: #FF7E6D;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
}

.ttl{
    font-size: 1vw;
}

.dsc{
    font-size: 1.5vw;
}